* {
  box-sizing: border-box; }

#yellow {
  background-color: #fdbe44 !important; }

#green {
  background-color: #37c84c !important; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

body h1, body h2, body h3 {
  margin: 0; }

body a {
  cursor: pointer;
  text-decoration: none;
  color: inherit; }

body a:hover {
  color: #2ecc71; }

body .row {
  margin-left: 0;
  margin-right: 0; }

ul {
  padding: 0;
  margin: 0; }

.header {
  height: 75px;
  border-bottom: 1px solid #2ecc71; }

.header .row {
  height: 100%; }

.header__left {
  display: inline-block; }

.header__left ul li {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 3rem; }

.header__center {
  display: inline-block; }

.header__center ul li {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  margin: 0px 3rem;
  text-transform: uppercase;
  font-weight: 300; }

.header__center ul li :hover {
  color: #35495e; }

.header__right {
  display: inline-block; }

.header__right ul li {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  margin-right: 3rem; }

.home__container {
  position: relative; }

.home__banner {
  display: inline; }

.home__banner--first {
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("./images/bg.jpg"); }

.home__banner--second {
  display: block;
  height: 0;
  padding-top: 50%; }

.home__title {
  position: absolute;
  top: 20%;
  color: #fff;
  padding-left: 7rem; }

.home__title h1 {
  font-family: 'Megrim', cursive;
  color: #fff;
  font-size: 100px; }

.home__title h2 {
  font-family: 'Megrim', cursive;
  color: #fff;
  font-size: 90px;
  text-align: center; }

.home__title button {
  width: 150px;
  height: 40px;
  background-color: #2ecc71;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #35495e;
  font-family: 'Megrim', cursive;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 5rem; }

.home__command {
  background: #15313d;
  position: absolute;
  bottom: 30%;
  right: 5%;
  width: 500px;
  height: 175px;
  border-radius: 10px;
  color: #fff; }

.home__command--top {
  height: 25px;
  background-color: rgba(219, 219, 219, 0.97);
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 10px; }

.home__command--top ul {
  padding-left: 10px;
  line-height: 25px; }

.home__command--top ul li {
  list-style: none;
  display: inline-block;
  margin-right: 6px; }

.home__command--top ul li p {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: #fc5b57;
  border-radius: 50px; }

.home__command--align {
  padding-left: 10px;
  padding-right: 10px; }

.home__command h1 {
  font-size: 12px;
  font-weight: 300; }

.home__command h2 {
  margin-top: 1px;
  font-size: 12px;
  font-weight: 300; }

.whyReact {
  margin: 100px 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.whyReact__left--hexContainer {
  width: 300px;
  margin: 0 auto;
  position: relative; }

.whyReact__left .hexText {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  margin-top: 15%;
  padding-right: 5px; }

.whyReact__left .hexText h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 75px; }

.whyReact__left .hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #2ecc71;
  margin: 86.60px 0; }

.whyReact__left .hexagon:before,
.whyReact__left .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent; }

.whyReact__left .hexagon:before {
  bottom: 100%;
  border-bottom: 86.6px solid #2ecc71; }

.whyReact__left .hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.6px solid #35495e; }

.whyReact__right h1 {
  font-size: 24px;
  text-transform: uppercase;
  color: #2ecc71;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 2rem; }

.whyReact__right p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #35495e;
  text-transform: capitalize; }

.footer {
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid #2ecc71;
  line-height: 30px;
  height: 30px; }

.footer h1 {
  font-size: 12px;
  font-weight: 300;
  color: #35495e; }

.footer ul li {
  display: inline-block;
  text-decoration: none;
  margin-left: 15px; }

.about {
  padding-bottom: 100px !important;
  height: 100vh;
  width: 70%;
  margin: 0 auto !important; }

.about__left {
  margin-top: 100px; }

.about__left--hexContainer {
  width: 300px;
  margin: 0 auto;
  position: relative; }

.about__left .hexText {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  margin-top: 15%;
  padding-right: 5px; }

.about__left .hexText h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 75px; }

.about__left .hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #2ecc71;
  margin: 86.60px 0; }

.about__left .hexagon:before,
.about__left .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent; }

.about__left .hexagon:before {
  bottom: 100%;
  border-bottom: 86.6px solid #2ecc71; }

.about__left .hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.6px solid #35495e; }

.about__right {
  margin-top: 100px; }

.about__right h1 {
  font-size: 75px;
  font-weight: 300;
  color: #2ecc71; }

.about__right h2 {
  font-size: 18px;
  font-weight: 300;
  color: #999;
  font-style: italic; }

.about__right h3 {
  font-size: 18px;
  font-weight: 300;
  color: #35495e;
  margin-top: 1rem; }

.about__right img {
  width: 150px; }

.about__experience {
  margin: 100px 0;
  width: 100%; }

.skills {
  height: 100vh;
  width: 70%;
  margin: 0 auto; }

.skills__images {
  margin: 100px 0; }

.skills__images img {
  width: 100px; }

.skills__text {
  margin-top: 100px; }

.skills__text h1 {
  font-size: 75px;
  font-weight: 300;
  color: #2ecc71; }

.skills__text h2 {
  font-size: 18px;
  font-weight: 300;
  color: #35495e;
  text-transform: uppercase; }

.skills__text h3 {
  font-size: 12px;
  font-weight: 300;
  color: #35495e;
  margin-top: 1rem; }

.skills__text ul {
  display: inline-block;
  position: relative;
  left: 16px;
  margin-right: 2rem; }

.skills__text ul li {
  margin-right: 15px;
  font-size: 12px;
  font-weight: 300;
  color: #35495e;
  margin-top: 1rem; }
